[Unit]
Description=Celery Service
After=network.target redis-server.service
Requires=redis-server.service

[Service]
EnvironmentFile=/home/ubuntu/aigle-api/.env
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/aigle-api
ExecStart=/home/ubuntu/aigle-api/venv/bin/celery -A aigle worker --loglevel=info --concurrency=1 --prefetch-multiplier=1 -Q celery,sequential_commands
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
