[Unit]
Description=Celery Service
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/aigle-api
ExecStart=/bin/bash -c 'cd /home/ubuntu/aigle-api && set -a && source .env && set +a && exec venv/bin/celery -A aigle worker --loglevel=info --concurrency=1 --prefetch-multiplier=1 -Q sequential_commands'
Restart=always

[Install]
WantedBy=multi-user.target
